<div class="container">

    @if (string.IsNullOrEmpty(PlayerName))
    {
        <div class="text-center">
            <MatTextField @bind-Value="PlayerName" Label="Enter player name"></MatTextField>
        </div>
    }
    else
    {
            <div class="row">
                <div class="col-md-6 col-md-offset-3"><MatButton Raised="true" OnClick="StartNewGameClicked">Start new game</MatButton></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <MatTextField @bind-Value="@GameId" Label="Game Id"></MatTextField>
                    <MatButton Raised="true" OnClick="JoinGameClicked"> Join game</MatButton>
                </div>
            </div>
    }
</div>

@code {

    [Parameter] public EventCallback<Tuple<string, string>> JoinGame { get; set; }
    [Parameter] public EventCallback<string> StartGame { get; set; }

    [Parameter]
    public string PlayerName { get; set; }

    [Parameter]
    public string GameId { get; set; }

    private async Task JoinGameClicked()
    {
        await JoinGame.InvokeAsync(new Tuple<string, string>(PlayerName, GameId));
    }

    private async Task StartNewGameClicked()
    {
        await StartGame.InvokeAsync(PlayerName);
    }

}
